.env
.env.*
*.log

logs/
tmp/
cache/

wp-config.php
config.php
database.php

node_modules/
vendor/


# private config
config/mail-config.asp

# Access database / backups
*.mdb
db/*.mdb
*.accdb
*.bak
*.zip
*.rar